<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue component 不同的寫法</title>
</head>

<body>
  <div id="app">
    <h1 @click="consoleTest">Vue.component練習</h1>
    Author: {{nameReverse}}
    <hello-world heading="Likes" color="green"></hello-world>
    <hello-world heading="Dislikes" color="red"></hello-world>
    <hr>
    <h1>computed 練習</h1>
    <name-filter text-style="uppercase"></name-filter>
  </div>
  <template id="set-counter">
    <div><!-- template 底下只能有一個 root div-->
        <h3>{{ heading }}</h3>
        <button @click="add" v-bind:style="{background: color}">{{ count }}</button>
    </div>
  </template>
  <template id="names-for-computed">
    <div>
      {{ nameReverseComponent }}
      <input type="text" placeholder="輸入名字" v-model="findName">
      <ul>
        <li v-for="name in nameFilter" v-bind:style="{textTransform: textStyle}">
          <span>{{ name }}</span>
        </li>
      </ul>
      {{$data}}
    </div>
  </template>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('hello-world', {
      template: '#set-counter',
      // 吃自己組建內的data跟事件，不受外層影響
      props: ['heading', 'color'],
      data: function () {
        return {
          count: 0
        }
      },
      methods: {
        add: function () {
          this.count += 1
        }
      }
    })
    Vue.component('name-filter', {
      template: '#names-for-computed',

      props: ['textStyle'], // props 在 html 中要記得不是小駝峰的寫法
      data: function () {
        return {
          findName: '',
          author: 'AskieBaby',
          names: ['Askie', 'Henry', 'Chris', 'Tony', 'Kira', 'Tako', 'Jimmy', 'Lai', 'Mango', 'Jason', '日安', '鵬化', 'Letter']
        }
      },
      computed: {
        nameFilter () {
          // 依賴於 findName 的變動，而去處理資料後（比對規則=>濾出符合項目）再 return
          let filter = new RegExp(this.findName, 'i')
          return this.names.filter(el => el.match(filter))
        },
        nameReverseComponent () {
          console.log('computed getter')
          return this.author.split('').reverse().join('')
        }
      },
      updated () {
        console.log('updated')
      }
    })

    var app = new Vue({
      el: '#app',
      data: {
        count: 0,
        author: 'AskieBaby',
      },
      methods: {
        add: function () {
          this.count += 1
        },
        consoleTest () {
          // this.nameReverse(nameReverse)
        }
      },
      computed: {
        nameReverse (e) {
          console.log('nameReverse', e)
          return this.author.split('').reverse().join('')
        }
      }
    })
  </script>
</body>

</html>